#mbuw9yebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mbuw9yebul_table ul li a {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mbuw9yebul_table ul li:hover > a {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbuw9yebul_table ul li.subexpanded a.subexpanded, #mbuw9yebul_table ul li.subitemhot a.subitemhot, #mbuw9yebul_table ul li a:hover {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbuw9yebul_table ul li:hover, #mbuw9yebul_table ul li.subexpanded, #mbuw9yebul_table ul li.subitemhot {
  border-color: #AAAAAA;
  background-color: #EEEEEE;
  box-shadow: none;
}

#mbuw9yebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  padding: 2px;
  background: #FFFFFF;
  font-size: 0;
  border-radius: 0;
}

#mbuw9yebul_table ul li a {
  padding: 3px 11px 3px 9px;
  text-align: left;
}

#mbuw9yebul_table ul li.separator {
  padding: 3px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbuw9yebul_table ul li.separator div {
  border-top: 1px solid #808080;
  font-size: 0px;
}

#mbuw9yebul_table ul li {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #FFFFFF;
}


#mbuw9yebul_table .spaced_li {
  padding: 0px 1px 0px 0px;
}

#mbuw9yebul_table a img {
  border: none;
}

#mbuw9yebul_table li a div.buttonimg {
  text-indent: -9999px;
}

#mbuw9yebul_table li {
  list-style: none;
  float: left;
}

#mbuw9yebul_table.css_menu li {
  position: relative;
}

#mbuw9yebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbuw9yebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbuw9yebul_table.css_menu ul li:hover > ul {
  top: -1px;
  left: 100%;
  right: auto;
}

#mbuw9yebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbuw9yebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbuw9yebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbuw9yebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbuw9yebul_table.css_menu a:hover .hoverbutton,
#mbuw9yebul_table a .normalbutton {
  display: block;
}

#mbuw9yebul_table a .hoverbutton, #mbuw9yebul_table a .downbutton,
#mbuw9yebul_table.css_menu a:hover .normalbutton {
  display: none;
}

#mbuw9yebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbuw9y_c.gif); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 15px; 
} 

#mbuw9yebul_table a div.buttonimg_23 { 
  height: 23px; 
  background-position: 0 0; 
} 

#mbuw9yebul_table.css_menu a:hover div.buttonimg_23, #mbuw9yebul_table a.itemhot div.buttonimg_23 { 
  background-position: 0 -23px; 
} 

#mbuw9yebul_table.css_menu a:active div.buttonimg_23, #mbuw9yebul_table li a.itemdown div.buttonimg_23 { 
  background-position: 0 -46px; 
} 

