.page_title_style{
	text-align: left; 
	border-bottom:1px solid #CCCCCC;
}

.feedback {
	font-family: Verdana, Arial, Tahoma;
	font-weight: bold;
	background-color: #FFFF77;
	width: 520px;
	margin: 9px auto;
	text-align: center;
	horizontal-align: center;
}

#app-main {
	width:80%; 
	margin:0 auto; 
	padding:15px 0 0 0;
}

#app-container {
	width:100%; 
	float:left;
	padding: 0px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	margin-top:3px;
	min-height:350px;
}
.nav-custom {
	float:left;text-align:left;width:100%;
}
.top-header-left {
	float:left;
	text-align:left;
	width:35%;
}
.top-header-right {
	float: right;
	width: 57%;
	display: inline;
	margin-right: .8%;
	margin-top: 3.4%;
}
.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

#footerpart {
	width:100%;
	background:url(https://s3.amazonaws.com/static.bizmerlin.net/tm_footerImg.gif) repeat-x;
	clear:both;
	height:97px;
}
#footerwraper {
	width:80%; 
	margin:0 auto; 
	padding:40px 0 0 0;
}
.normlgrayText {
	color:#4683b0;
	font-weight:bold;
}
.uprerpart a {
	font-size:11px;
	text-decoration:none;
	border-bottom:1px dotted #0066CC;
	color:red;
	font-weight:bold;
	float:right;
	margin: .5%;
	margin-top: 4%;
}
.textprofile {
	font-size:11px;
	color:#818384;
	font-weight:bold;
	vertical-align:bottom;
	float:right;
	margin-right: 1.2%;
	margin-top: 4%;
}

body
{
	font-family:Verdana,Helvetica,Arial;
	background:#eeeff1 url(https://s3.amazonaws.com/static.bizmerlin.net/tm_bgrptimg_vrtigl.gif) repeat-x top center;
	font-size: 13px;
   	height: auto;
}

table
{
	font-family:Verdana,Helvetica,Arial;
	width:98%;
	font-size: 13px;
	border:1px solid #dedede;
	margin-top: 5px;
}

.gap-right {
	margin-right:5px;
}

ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h2,h3,table {
	font-size: 96%;
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h2,h3,table {
    font-size: 92%;
  }
}


h2 {
	float:left;
	width:auto;
	font-size:24px;
	font-weight:bold;
	padding-bottom:0px;
	padding-top:0px;
	padding-left:10px;
	font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans','sans-serif';
	color: #3A6278;
}

h3 {
	float:left;
	width:auto;
	font-size:20px;
	font-weight:bold;
	font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans','sans-serif';
	color: #4A7288;
	margin: 0px;
	padding: 0px;
}

.clear {
	clear:both;
}

.page_body {
	padding: 10px;
	margin-top: 10px;
	text-align: left;
}

.light_blue{
	color:#367fc0;	
}

.paging_style {
	float:left;
	width:auto;
	display:inline;
	position:relative;
	margin-top:15px;
	margin-left:15px;
}

.table_header_row {
	background-color:#f1f1f1;
}

.page_count {
	float:left;
	width:auto;
	display:inline;
	margin-top:15px;
	position: relative;
	font-weight:bold;
	color:#838383;	
	padding-left: 10px;
}