/* default style */
.selectnav { display: none; }

/* small screen */
@media screen and (max-width: 600px) {
  .js #nav_up { display: none; }
  .js .selectnav { display: block; }
}
.nav_up a {
	font-size:15px;
	font-family:"Calibri",Sans Serif;
	text-align:left;
}
.nav_up ul {
	margin: 0;
	padding: 0px;
}
.nav_up li {
	list-style:none;
	display:inline;
	float:left;	
	text-transform:capitalize;
}
.nav_up li a{	
	text-decoration:none;	
	color:#000000;
}
.nav_up li ul{
	display:none;
	height:auto;
	list-style:none;	
	position:absolute;	
	width:auto;
	padding:5px 10px;
	z-index:10;	
	background:none repeat scroll 0 0 rgba(82, 140, 180, 0.93) !important;
	background:rgb(82, 140, 180); /* IE */
	filter:alpha(opacity=93); /* IE */
	}
.nav_up li a:hover{	

	color:#000000;		
}
.nav_up li:hover ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-radius: 0px 0px 5px 5px;
}

.nav_up ul li {
	display: block;
	position: relative;
	float: left;
	
}

.nav_up li ul {
	display: none;
}

.nav_up li:hover ul li a{ background: none repeat scroll 0 0 transparent !important; }
.nav_up ul li a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	border:none;
	white-space: nowrap;
	height:25px;
	line-height:25px;
	font-weight:normal;
	background-color:#528cb4;
	border-radius: 0px 0px 5px 5px;
	color:#ffffff;
}

.nav_up ul li a:hover {
	background: #528cb4;
	color: #aeff00;
}
.nav_up li:hover ul {
	display: block;
	position: absolute;
}
.nav_up li:hover li {
	float: none;
}
.nav_up li ul li:hover a{
	background: #528cb4;
}
.nav_up li:hover ul li ul{
	display:none;
	margin-left: 11.5em; margin-top:-1.5em;
}
.nav_up li:hover ul li:hover ul{
	display:block;
	
	}