.report_circular_boxes {
	width:100%;border-radius:0px;border:none;margin-left:10px;
}
.report_circular_box_header {
	color:#ffffff;
	background-image:url('../images/blue_tab.png');
	font-weight:bold;
	width:218px;
	height:30px;
}
.report_circular_box_content_bg {
	background:#F5F5F5;
	border:1px solid #C5C5C5;
	width:216px;
	height:auto;
}
.report_circular_box_content_bg ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	margin-left:10px;
	margin-bottom:10px;
}
.report_circular_box_content_bg ul li{
	padding-top:5px;
	padding-bottom:5px;
}
.report_circular_box_content_bg ul li a{
	color:#6179A3;
	font-weight:bold;
}
.report_circular_box_content_right_bg{
	background:#F5F5F5;
	border:1px solid #C5C5C5;
	color:#6179A3;
	font-weight:bold;
	list-style-type:none;
	padding-top:10px;
	padding-bottom:10px;
}
.report_circular_box_content_right_bg  a{
	color:#6179A3;
	text-decoration:none;
}
.td_page_title_style {
    text-align: left;
    border-bottom: 1px solid #CCC;
	width:100%;
}
.box13 {
	float:left; width:30%; margin-left:2%; margin-top:25px; height:94px;background-size:100% 100%; padding:10px 0 0 10px;background:#FCFCF9;-moz-border-radius: 10px; border: solid 1px #E2E1E7;border-radius:10px 10px;
}
.box13 a, .box13 ul li a {
	color:#5491BB;
	text-decoration:none;
	font-weight:bold;
}
.ulstyle {
margin:0; padding:5px 0 0 0;list-style:none;
}
.gluelight a {
font-size:12px;
color:#4a758d;
text-decoration:none;
font-weight:normal;
padding-bottom:-7px;
}
.gluelight a:hover {
font-size:12px;
color:#4a758d;
text-decoration: underline;
font-weight:normal;
padding-bottom:-7px;
}
.report_bg_right{
	background-image:url('../images/rightbg.png');
    background-repeat: repeat-x;
    height:39px;
    width:100%
}